<div class="container-fluid divider-diagonal divider-diagonal-r divider-dark" data-bg-img="/assets/img/games2.jpeg">
  <div class="row">
    <div class="col-lg-5 " ></div>
     <div class="col-lg-4 py-5">
              <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
        <h2 class="display-4 text-slab text-white text-uppercase mt-0 mb-5">
          Looking For <span class="text-primary font-weight-bold">Group</span>
        </h2>
      </div>
    </div>
     <div id="features" class="container py-4 py-lg-6">
  <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
        <h2 class="text-center text-uppercase font-weight-bold my-0">
         Find people to play games with
        </h2>
        <hr class="mb-5 w-50 mx-auto" />
      </div>
 </div>
