<div class="container-fluid">
    <div class="col-md-auto">
    <a class="btn btn-primary" href="/users/<%=current_user.id%>/user_games/new" role="button">Link your steam games!</a>
  </div>
    <h4>Currently playing:</h4>
      <% @games.order(updated_at: :asc).each_slice(3) do |games| %>
        <div class="row">
        <% games.each do |game| %>
          <div class="col-md-offset-4 col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="<%= game.image_url %>" alt="Card image cap">
              <div class="card-body">
                <p class="card-text"><%= link_to game.title, game %></p>
                 <%= button_to "Delete", "/user_games/#{UserGame.find_by(user_id: current_user.id, game_id: game.id).id}", :method=> "delete" %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>